<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="static/css/check.css">
        <title>COVID-19 Management</title>
    </head>
    <body>
        <h1>Error</h1>
        <p>{{ content }}</p>
        {% if link %}
        <a href="{{ url_for('get') }}">入力画面へ</a>
        {% endif %}
        <h3>--- Log ---</h3>
        <table id="log_table" align="center">
            {% for log in logs %}
            <tr>
                <td>{{ log }}</td>
                <td>:</td>
                <td>完了</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>