<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/ventilation.css">
    <title>COVID-19 Management</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <div>
        リマインダーの時刻で記録していますが，変更や追加などがあれば記入してください．
        <br>
        これらの時刻は，最終退出者の退出と同時に自動で報告されます．
        <br><br>
    </div>
	<form action="/" name="main" method="POST" enctype="multipart/form-data">
		<!-- <div id="part1">
			<input type="text" id="name" name="name" placeholder="名前" required>
            <p class="warning" id="name_warning", style="display: none">無効な形式</p>	
		</div> -->
        <div id="part2">
            <!-- <div>
                <input type="radio" id="measure" name="radAnswer" value="measure">検温
                <input type="radio" id="arrive" name="radAnswer" value="arrive">手洗い
                <input type="radio" id="homing" name="radAnswer" value="homing">帰宅
            </div>
            <div id="temp_div" style="display: block">
                <input type="text" id="temp" name="temp" placeholder="36.6" required>
                <p class="warning" id="temp_warning" style="display: none">無効な形式<br>例:36.6</p>
            </div> -->
            <div id="ventil_div">
                <table id="ventil_table">
                    <thead>
                        <td>換気開始</td>
                        <td>-</td>
                        <td>換気終了</td>
                        <td>削除</td>
                    </thead>
                    <tr class="ventil_input">
                        <td><input type="time" name="ventil_s" class="ventil" id="ventil_s_0"></td>
                        <td>-</td>
                        <td><input type="time" name="ventil_e" class="ventil" id="ventil_e_0"></td>
                        <td><input type="checkbox" id="del_0" name="ventil_del" value="del_0"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="part3">
            <input type="submit" id="send" value="確定" formaction="/ventilation">
        </div>
    </form>
    <script>
        VENTILS = {{ ventils | tojson }}        
    </script>
    <script src="static/js/ventilation.js"></script>
  </body>
</html>
